
.game-result-container {
    margin-top: 60px;
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.game-result-container h3 {
    text-align: center;
}

.game-options-selected {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}